.espacamento-toolbar {
  // flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  // display: flex;

  // .bootstrap-navbar,
  .sidebar {
    background-color: red;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 260px;
      display: block;
      z-index: 5;
      color: #fff;
      font-weight: 200;
      background-size: cover;
      background-position: center center;
    }

    .main-panel {
      background: rgba(203, 203, 210, .15);
      position: relative;
      z-index: 2;
      float: right;
      width: calc(100% - 260px);
      // width: $sidebar-width;
      min-height: 100%;
      overflow: auto;

      .main-content {
        padding: 30px 15px;
        min-height: calc(100% - 123px);
      }

      >.footer {
        border-top: 1px solid #e7e7e7;
      }

      .navbar {
        margin-bottom: 0;
      }
    }
}

.example-sidenav-content {
  height: 100vh;
}

.example-sidenav {
  background-color: red;
}


// EXEMPLO DESTE SITE
// https: //bootstrapexamples.com/@bruno-dezan/collapsible-sidebarteste
:root {
  --sidebar-width: 280px;
  --sidebar-width-collapsed: 80px;
}
.side {
  width: var(--sidebar-width);
}
.main-content {
  margin-left: 280px; //var(--sidebar-width);
  width: calc(100% - 280px);
  background-color: #f8f9fa;
  min-height: 100vh;
  // padding: 20px;
  transition: all 0.3s ease;
}
.collapsed {
  // margin-left: var(--sidebar-width-collapsed);
  margin-left: 80px;
  margin-right: 0;
}
.main-content.collapsed {
  width: 100%;
}
