<!-- <p>
  <mat-toolbar color="primary" class="espacamento-toolbar">
    <span>Exemplo login</span>
    <button mat-icon-button (click)="deslogar()">
      <mat-icon fontIcon="logout"></mat-icon>
    </button>
  </mat-toolbar>
</p>
<mat-card-content>
  <router-outlet />
</mat-card-content> -->

<div class="wrapper">
  <div class="sidebar" data-color="red" data-image="">
    <app-sidebar></app-sidebar>
    <!-- <div class="sidebar-background" style="background-image: url(assets/img/sidebar-5.jpg)"></div> -->
  </div>

  <div class="main-panel">
    <app-navbar />
    <!-- <p>
      <mat-toolbar color="primary" class="espacamento-toolbar">
        <span>Exemplo login</span>
        <button mat-icon-button (click)="deslogar()">
          <mat-icon fontIcon="logout"></mat-icon>
        </button>
      </mat-toolbar>
    </p> -->
    <router-outlet></router-outlet>
    <!-- <div *ngIf="isMap('maps')">
      <footer-cmp></footer-cmp>
    </div> -->
  </div>

</div>
