<div class="container-fluid p-3">

  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <h1 class="titulo">{{data.mode === 'add' ? 'Adicionar Novo Item' : 'Editar Item'}}</h1>
  <h2 class="subtitulo">Preencha o formulário para salvar o item</h2>
  <!-- <h2 mat-dialog-title>

  </h2> -->

  <mat-dialog-content>
    <form class="row" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="col-12 col-md-12 mb-2">
          <mat-form-field appearance="outline" class="full-width w100">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" required placeholder="Digite um título para o item">
            @if (itemForm.get('title')?.hasError('required')) {
              <!-- <mat-error *ngIf="itemForm.get('title')?.hasError('required')"> -->
              <mat-error>
                Título é obrigatório
              </mat-error>

            }
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>

          <mat-checkbox formControlName="completed">Completo</mat-checkbox>
      </div>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">Cancelar</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!itemForm.valid">
      {{data.mode === 'add' ? 'Adicionar' : 'Salvar'}}
    </button>
  </mat-dialog-actions>

</div>
