<!-- LOGO -->
<!-- ITENS MENU -->
<!-- <div class="side-wrapper">
  <div class="logo">
    <a href="http://creative-tim.com" class="simple-text">
      <div class="logo-img">
        <img src="images/angular2-logo-white.png" alt="">
      </div>
      SGS
    </a>
  </div>

   <ul class="nav responsive-nav">
      @for (menuItem of menuItems; track menuItem) {
        <li routerLinkActive="active" class="{{menuItem.class}}">
          <a [routerLink]="[menuItem.path]">
            <i class="{{menuItem.icon}}"></i>
            <p>{{menuItem.title}}</p>
          </a>
        </li>
      }
   </ul>
</div> -->

<nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed" [class.collapsed]="isCollapsed">
  <div class="sidebar-header p-4">
    <h4 class="logo-text fw-bold mb-0" (click)="toggleSidebar()">NexusFlow</h4>
    <span *ngIf="!isCollapsed" class="text-muted small hide-on-collapse">Dashboard</span>
  </div>

  <div class="nav flex-column">
    @for (menuItem of menuItems; track menuItem) {
      <a [routerLink]="[menuItem.path]" class="{{menuItem.class}}">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="me-3" fontIcon="{{menuItem.icon}}"></mat-icon>
        <span *ngIf="!isCollapsed">{{menuItem.title}}</span>
        <!-- <span class="hide-on-collapse">{{menuItem.title}}</span> -->
      </a>
    }
  </div>

  <div class="sidebar-footer" *ngIf="!isCollapsed">
    <p>Angular 19 Sidebar</p>
  </div>

</nav>
