<div class="container-fluid">
  <mat-toolbar color="primary" class="justify-content-between">
    <span>Lista de Itens</span>
    <span class="spacer"></span>
    <button mat-flat-button color="accent" (click)="openAddDialog()">
      <mat-icon>add</mat-icon> Adicionar
    </button>
  </mat-toolbar>

  <mat-card>
    <mat-card-content>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite para filtrar" #input>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div class="table-container">
        @defer () {
          <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Coluna ID -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
              <td class="td-table" mat-cell *matCellDef="let item">{{item.id}}</td>
            </ng-container>

            <!-- Coluna Título -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
              <td class="td-table" mat-cell *matCellDef="let item">{{item.title}}</td>
            </ng-container>

            <!-- Coluna User -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
              <td class="td-table" mat-cell *matCellDef="let item">{{item.user.username}}</td>
            </ng-container>

            <!-- Coluna User -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
              <td class="td-table" mat-cell *matCellDef="let item">{{item.user.email}}</td>
            </ng-container>

            <!-- Coluna Status -->
            <ng-container matColumnDef="completed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td class="td-table" mat-cell *matCellDef="let item">
                <mat-chip [class]="'mat-chip-completed--'+ item.completed" [color]="item.completed ? 'primary' : 'warn'">
                  {{item.completed ? 'Completo' : 'Pendente'}}
                </mat-chip>
                <!-- <span class="badge text-bg-warning">{{item.completed ? 'Completo' : 'Pendente'}}</span> -->
                @if (item.completed) {
                  <mat-icon class="c-primary">check</mat-icon>
                } @else {
                  <mat-icon class="c-error">remove</mat-icon>
                }
              </td>
            </ng-container>

            <!-- Coluna Ações -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td class="td-table" mat-cell *matCellDef="let item">
                <button mat-icon-button color="primary" (click)="openViewDialog(item)">
                  <mat-icon class="icon-table">visibility</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="openEditDialog(item)">
                  <mat-icon class="icon-table">edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="confirmDelete(item)">
                  <mat-icon class="icon-table">delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Linha quando não há dados -->
            <tr class="mat-row" *matNoDataRow>
              <td class="td-table" class="mat-cell no-data" [colSpan]="displayedColumns.length">
                Nenhum dado encontrado para: "{{input.value}}"
              </td>
            </tr>
          </table>

          <mat-paginator class="shadow-sm"
            [pageSizeOptions]="[5, 10, 20]"
            [length]="totalElements"
            [pageIndex]="pageIndex"
            [pageSize]="pageSize"
            (page)="handlePageEvent($event)"
            showFirstLastButtons>
          </mat-paginator>

        } @placeholder (){
          <mat-spinner></mat-spinner>
        }
      </div>

    </mat-card-content>
  </mat-card>
</div>
